@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: orange;
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
}
h4 {
  text-transform: capitalize;
  /* does not seem to affect description query, why ? */
}

p {
  line-height: 2;
}

.blog-text {
  color: red;
}

.products-text {
  color: green;
}
